.page {
  font-size: 100%;
  background-color: #777;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  width: 1200px;
}

.picwrap {
  float: right;
  text-align: center;
}

.pic {
  max-width: 35vw;
}
